// fonts
$font_sans_serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
	'Helvetica Neue', sans-serif;
$font_neuton: 'Neuton', $font-sans-serif;
$font_fira_sans: 'Fira Sans', font_sans_serif;

//
$grid_gutter: 30px;
