html {
	font-size: 16px;
	scroll-behavior: smooth;
}

body {
	margin: 0;
	font-family: $font_neuton;
	font-weight: 400;
	font-size: rem-calc(20);
	line-height: 1.2;
	color: #000;
}

* {
	box-sizing: border-box;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

img {
	max-width: 100%;
	height: auto;
}

p {
	margin-top: 0;
	&:last-child {
		margin-bottom: 0;
	}
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	font-family: 'Montserrat', $font_sans_serif;
}

.post-meta {
	font-family: $font_fira_sans;
	font-weight: 700;
	font-size: rem-calc(13);
	color: rgba(#000, 0.6);
	text-transform: uppercase;
	letter-spacing: 1px;
}
