@import '../assets/sass/abstracts/index';

.page-header {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: flex-end;
	width: 700px;
	height: 100%;
	color: #fff;
	padding-left: rem-calc(80);
	padding-right: rem-calc(80);
	padding-bottom: rem-calc(60);
	text-align: center;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0, rgba(0, 0, 0, 0.3) 70%, transparent 100%);
		z-index: 2;
	}

	.post-meta {
		padding-left: 0;
		margin-bottom: 0;
		padding-top: rem-calc(20);
		margin-top: rem-calc(30);
		border-top: 0.1rem solid rgba(255, 255, 255, 0.35);
		color: rgba(#fff, 0.8);
	}
}

.page-header__image {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.page-header__body {
	position: relative;
	z-index: 10;
	width: 100%;
}

.page-heading {
	font-size: rem-calc(46);
}

.page-excerpt {
	font-size: rem-calc(22);
}

.page-content {
	padding-left: 700px;
	padding-right: 320px;

	.site-search {
		input {
			border: 1px solid rgba(#000, 0.15);
			color: $body_color;
			padding: rem-calc(10);
			font-size: $body_font_size;
		}
	}
}

.page-content__inner {
	padding: rem-calc(50 80);
}

.site-header-container {
	position: fixed;
	top: 0;
	right: 0;
	display: block;
	width: 320px;
	height: 100vh;
	z-index: 99;
	background-color: #252525;
	padding: rem-calc(50 30 30);
	color: rgba(#fff, 0.65);
	font-family: $font_fira_sans;

	a {
		color: rgba(#fff, 0.65);
		text-decoration: none;

		&:hover {
			color: #fff;
		}
	}
}
